//EXTEND
%estiloPrincipal{
    background-color: $turquesa;
    color: $violeta;
    font-family: $typo-principal;
    text-align: center;
    p{
        max-width: 60vw;
        margin: 0 auto;
    }
}

//MIXIN
@mixin estiloTexto ($size, $color){
    font-size: $size;
    font-family: $typo-principal;
    font-weight: 900;
    font-style: italic;
    color: $color;
}